@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    height: 100%;
    width: 100%;
}

.card_container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 25px auto;
    flex-wrap: wrap;
}

.ad-container {
    margin: 1.8rem;
}

::-webkit-scrollbar {
    display: none;
}

.review-h {
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
    font-family: "Creepster", system-ui;
}

.review-h span {
    font-size: 3rem;
    font-family: "Creepster", system-ui;
}

.review {
    display: flex;
    width: 90%;
    gap: 2rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.client-1 {
    display: flex;
    width: 50%;
    border: 2px solid #d2d2d2;
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.4s;
}

.client-1:hover {
    border: 2px solid #e50007;
    cursor: pointer;
}

.clients-img img {
    border-radius: 50%;
    width: 90%;
}

.client-2 {
    display: flex;
    width: 50%;
    border: 2px solid #d2d2d2;
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.4s;
}

.client-2:hover {
    border: 2px solid #e50007;
    cursor: pointer;
}

span {
    font-size: 2rem;
    color: #e50007;
}

.video {
    width: 95%;
    margin: auto;
}

.video video {
    width: 100%;
    border-radius: 0.5rem;
}
